version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    command: composer install --ignore-platform-reqs --no-scripts
    working_dir: /var/www
    environment:
      DB_HOST: 192.168.111.8
      DB_PORT: 3306
      DB_USERNAME: db_cmit
      DB_DATABASE: db_cmit
      DB_PASSWORD: db_cmit
      CACHE_DRIVER: redis
      REDIS_CLIENT: predis
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8084:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
