html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c7daec !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  border:#3c74b4 1px solid !important;
  border-radius: 10px;
}

img {
    width: 100%;
}


.titulo-error, button {
    text-align: center;
    margin-top: 10px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #3c74b4;
    font-size: 14px;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

button {
    font-size: 14px !important;
    background-color:#3c74b4 !important;

}

.btn-close {
  font-size: 8px !important; 
  padding: 2px;
}

#titulo-error {
  font-size: 4em !important;
  color: #3c74b4 !important;
}
